.lgb{
  background:  rgba(255, 255, 255, 0.87);
  height: 100vh;
  width: 100vw;
  columns: white;
  display: flex;
}
.lgb .lg{
align-items: center;
background-color :  rgba(255, 255, 255, 0.87);
height: 50vh;
width: 20vw;
margin-left: 40%;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
padding: 10%;
margin-top:10%;
}

.lgb{
  background: linear-gradient(to bottom, #5cc6d0, #a28089);
position: relative;
  height: 100vh;
  width: 100vw;
  columns: white;
  display: flex;
}
.lgb .lg{
align-items: center;
background-color: rgba(255, 255, 255, 0.87);
height: 50vh;
width: 20vw;
margin-left: 40%;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
padding: 10%;
margin-top:10%;
}

.bgui{
  background-color: snow;
  height: 100vh;
  width: 100vw;

}