.home{

   margin: 0;
  height: 100vh;

  background:
    /* soft center light */
    radial-gradient(
      circle at 50% 50%,
      rgba(212, 212, 220, 0.07) 0%,
      rgba(29, 30, 34, 0) 55%
    ),

    /* subtle vertical highlight line */
    linear-gradient(
      to right,
      transparent 50.7%,
      rgba(254, 218, 106, 0.08) 50%,
      transparent 50.3%
    ),

    /* main smooth gradient */
    linear-gradient(
      90deg,
      #1d1e22 0%,
      #24262d 20%,
      #2e323c 40%,
      #353a47 60%,
      #393f4d 100%
    );
  min-height: 100vh;

}
.home .slideBar{
    width: 15vw;
    background-color: azure;
  height: 92vh;
}
.home .rightwindowShow{
  width:90vw;
  margin-left: 5px;
   height: 90vh;
}